/* GLOBAL RULES */

:root {
  --main-color: #172b4d;
  --secondary-color: #36b37e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px - 10px / 16px =0.625 = 62.5% - percentage of user's browsers font-size setting - 1rem = 10 px */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--main-color);
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  font-size: 3.2rem;
  margin: 5.2rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  height: calc(100vh - 24rem);

  /* padding: 0 1.2rem; */
  /* grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr)); */
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); */
}

.title {
  display: inline-block;
  /* width: max-content; */
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  line-height: 1.2;
  background-color: #f6f6f6;
  color: #343a40;
}

.--inprogress {
  background-color: #74c0fc;
}

.--completed {
  background-color: #69db7c;
}

.add-btn {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
}

.task-card {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2.4rem;
  height: 100%;
}

.task {
  background-color: #ff6b6b;
  padding: 1.6rem 0.8rem 6.2rem 0.8rem;
  margin-bottom: 2.4rem;
  border-radius: 10px;
  font-size: 1.8rem;
}
